<a href="https://colab.research.google.com/github/Zebfred/AB-Demo/blob/master/w5d3_assignment_regression_classification_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 3

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

Instead, predict property sales prices for **One Family Dwellings** (`BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'`) using a subset of the data where the **sale price was more than \\$100 thousand and less than $2 million.** 

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


- [ ] Do train/test split. Use data from January — March 2019 to train. Use data from April 2019 to test.
- [ ] Do exploratory visualizations with Seaborn.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a linear regression model with multiple features.
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.


## Stretch Goals
- [ ] Add your own stretch goal(s) !
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if you’re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way (without an excessive amount of formulas or academic pre-requisites).
(That book is good regardless of whether your cultural worldview is inferential statistics or predictive machine learning)
- [ ] Read Leo Breiman's paper, ["Statistical Modeling: The Two Cultures"](https://projecteuclid.org/download/pdf_1/euclid.ss/1009213726)
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html):

> Pipeline can be used to chain multiple estimators into one. This is useful as there is often a fixed sequence of steps in processing the data, for example feature selection, normalization and classification. Pipeline serves multiple purposes here:

> - **Convenience and encapsulation.** You only have to call fit and predict once on your data to fit a whole sequence of estimators.
> - **Joint parameter selection.** You can grid search over parameters of all estimators in the pipeline at once.
> - **Safety.** Pipelines help avoid leaking statistics from your test data into the trained model in cross-validation, by ensuring that the same samples are used to train the transformers and predictors.

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
train['BOROUGH'] = train['BOROUGH'].astype(str)
test['BOROUGH'] = test['BOROUGH'].astype(str)


# Reduce cardinality for NEIGHBORHOOD feature ...

# Get a list of the top 10 neighborhoods
top10 = train['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10,
# replace the neighborhood with 'OTHER'
train.loc[~train['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'
test.loc[~test['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

# Which features were used?
k = 15
selector = SelectKBest(score_func=f_regression, k=k)
X_train_selected = selector.fit_transform(X_train_scaled, y_train)

all_names = X_train_encoded.columns
selected_mask = selector.get_support()
selected_names = all_names[selected_mask]
unselected_names = all_names[~selected_mask]

print('Features selected:')
for name in selected_names:
    print(name)

print('\nFeatures not selected:')
for name in unselected_names:
    print(name)

In [0]:
# If you're in Colab...
import os, sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install required python packages:
    # category_encoders, version >= 2.0
    # pandas-profiling, version >= 2.0
    # plotly, version >= 4.0
    !pip install --upgrade category_encoders pandas-profiling plotly
    
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Change into directory for module
    os.chdir('module3')

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv('../data/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

       BOROUGH              NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0            1                   CHELSEA  ...          0  01/01/2019
1            1                   FASHION  ...          0  01/01/2019
2            1                   FASHION  ...          0  01/01/2019
3            1    GREENWICH VILLAGE-WEST  ...          0  01/01/2019
4            1   UPPER EAST SIDE (59-79)  ...          0  01/01/2019
5            1   UPPER EAST SIDE (79-96)  ...          0  01/01/2019
6            1  UPPER WEST SIDE (96-116)  ...          0  01/01/2019
7            2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
8            2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
9            2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
10           2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
11           2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
12           2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
13           2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
14           2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
15           2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
16           2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
17           2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
18           2      MORRIS PARK/VAN NEST  ...          0  01/01/2019
19           2      PELHAM PARKWAY SOUTH  ...          0  01/01/2019
20           2      PELHAM PARKWAY SOUTH  ...          0  01/01/2019
21           2      PELHAM PARKWAY SOUTH  ...          0  01/01/2019
22           2      PELHAM PARKWAY SOUTH  ...          0  01/01/2019
23           2      PELHAM PARKWAY SOUTH  ...          0  01/01/2019
24           2      PELHAM PARKWAY SOUTH  ...          0  01/01/2019
25           2      PELHAM PARKWAY SOUTH  ...          0  01/01/2019
26           2      PELHAM PARKWAY SOUTH  ...          0  01/01/2019
27           2      PELHAM PARKWAY SOUTH  ...          0  01/01/2019
28           2  SCHUYLERVILLE/PELHAM BAY  ...          0  01/01/2019
29           2               WESTCHESTER  ...          0  01/01/2019
...        ...                       ...  ...        ...         ...
23010        4                  GLENDALE  ...     860000  04/30/2019
23011        4                  GLENDALE  ...     323000  04/30/2019
23012        4                  GLENDALE  ...     265000  04/30/2019
23013        4                    HOLLIS  ...     355000  04/30/2019
23014        4                HOLLISWOOD  ...     210000  04/30/2019
23015        4              HOWARD BEACH  ...     689419  04/30/2019
23016        4              HOWARD BEACH  ...     225000  04/30/2019
23017        4           JACKSON HEIGHTS  ...     300000  04/30/2019
23018        4                   JAMAICA  ...    1350000  04/30/2019
23019        4               KEW GARDENS  ...     430000  04/30/2019
23020        4               KEW GARDENS  ...     560000  04/30/2019
23021        4                 LAURELTON  ...     574850  04/30/2019
23022        4               LITTLE NECK  ...     900000  04/30/2019
23023        4          LONG ISLAND CITY  ...     892500  04/30/2019
23024        4           OAKLAND GARDENS  ...     655000  04/30/2019
23025        4            QUEENS VILLAGE  ...          0  04/30/2019
23026        4                 REGO PARK  ...     800000  04/30/2019
23027        4             RICHMOND HILL  ...          0  04/30/2019
23028        4             RICHMOND HILL  ...     690000  04/30/2019
23029        4                  ROSEDALE  ...     635000  04/30/2019
23030        4             SOUTH JAMAICA  ...     367500  04/30/2019
23031        4          SOUTH OZONE PARK  ...     514000  04/30/2019
23032        4          SOUTH OZONE PARK  ...     635000  04/30/2019
23033        4       SPRINGFIELD GARDENS  ...     545000  04/30/2019
23034        4       SPRINGFIELD GARDENS  ...     875000  04/30/2019
23035        4                ST. ALBANS  ...     510000  04/30/2019
23036        4                 SUNNYSIDE  ...     355000  04/30/2019
23037        4                 SUNNYSIDE  ...     375000  04/30/2019
23038        4                 WOODHAVEN  ...    1100000  04/30/2019
23039        4                  WOODSIDE  ...     569202  04/30/2019

[23040 rows x 21 columns]

In [7]:
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)
df['SALE_DATE'].describe()

count                   23040
unique                    120
top       2019-01-24 00:00:00
freq                      480
first     2019-01-01 00:00:00
last      2019-04-30 00:00:00
Name: SALE_DATE, dtype: object

In [8]:
df['SALE_DATE'].dt.month.value_counts()

1    6464
3    6105
2    5598
4    4873
Name: SALE_DATE, dtype: int64

In [26]:
df.isnull().sum()
df['LAND_SQUARE_FEET'].dropna()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING_CLASS_CATEGORY               0
TAX_CLASS_AT_PRESENT                  1
BLOCK                                 0
LOT                                   0
EASE-MENT                         23040
BUILDING_CLASS_AT_PRESENT             1
ADDRESS                               0
APARTMENT_NUMBER                  17839
ZIP_CODE                              1
RESIDENTIAL_UNITS                     1
COMMERCIAL_UNITS                      1
TOTAL_UNITS                           1
LAND_SQUARE_FEET                     53
GROSS_SQUARE_FEET                     1
YEAR_BUILT                           35
TAX_CLASS_AT_TIME_OF_SALE             0
BUILDING_CLASS_AT_TIME_OF_SALE        0
SALE_PRICE                            0
SALE_DATE                             0
dtype: int64

In [25]:
df['GROSS_SQUARE_FEET'] = df['GROSS_SQUARE_FEET'].astype(float)

df['LAND_SQUARE_FEET'] = (
    df['LAND_SQUARE_FEET']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(float)
)

ValueError: ignored

In [19]:
train = df[(df.SALE_DATE.dt.month < 4) ]
test = df[df.SALE_DATE.dt.month == 4 ]

train.shape, test.shape

((18167, 21), (4873, 21))

In [14]:
train.head(
    
)

   BOROUGH             NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
0        1                  CHELSEA  ...          0 2019-01-01
1        1                  FASHION  ...          0 2019-01-01
2        1                  FASHION  ...          0 2019-01-01
3        1   GREENWICH VILLAGE-WEST  ...          0 2019-01-01
4        1  UPPER EAST SIDE (59-79)  ...          0 2019-01-01

[5 rows x 21 columns]

In [15]:
#cluster the location
import plotly.express as px
from sklearn.cluster import KMeans 

kmeans = KMeans(n_clusters=10, n_jobs= -1)
train['cluster'] = kmeans.fit_predict(train[['LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET']])
test['cluster'] = kmeans.fit_predict(train[['LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET']])

px.scatter(train, x='longitude', y='latitude',color=cluster)

ValueError: ignored

In [11]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.catplot(x='cluster', y='price', data=train, kind='bar', color='grey');

ValueError: ignored